---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};


/* === Custom Overrides === */
//body {
//  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
//  font-weight: 400;  // thicker than default
//}

/* Body text */
body {
  font-family: "Lora", serif;
  //font-family: "Merriweather Sans", sans-serif;
  font-weight: 400;    /* regular, loaded in your link */
  font-size: 15.5px;     /* default in al-folio is ~16px */
  //line-height: 1.2;    /* keeps readability */
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lora", serif;
  //font-family: "Merriweather Sans", sans-serif;
  font-weight: 600;    /* semi-bold, loaded in your link */
  //line-height: 1.25;   /* tighter headings */
}

/* Make the homepage name heading smaller */
h1 {
  font-size: 35px;     /* smaller than default (usually ~36–40px) */
  font-weight: 600;    /* still bold enough */
  margin-bottom: 0.5rem;
}

/* Navbar active/hover colors */
.navbar .nav-item.active > .nav-link,
.navbar .nav-item > .nav-link.active {
  color: #FDB515 !important;         // California Gold
  border-bottom: 2px solid #1F4B6E;  // lighter Berkeley Blue
}

.navbar .nav-item > .nav-link:hover {
  color: #1F4B6E !important;         // lighter Berkeley Blue
}

/* Bigger location text (and matching icon) ONLY on the CV page */
.cv .list-group-item .date-column p.location {
  font-size: 0.9rem !important;   /* try 1.1rem if you want more */
  font-weight: 500;                 /* optional */
  //color: #1F4B6E !important;        /* lighter Berkeley blue */
  margin-top: 0.25rem;
  display: flex;
  align-items: center;
  gap: 0.35rem;
}

.cv .list-group-item .date-column p.location i.iconlocation {
  font-size: 0.95em;      /* scales with the text */
  color: inherit !important;
}

.cv .badge {
  background-color: #FDB515 !important; /* California Gold */
  //color: #003262 !important;            /* Berkeley Blue text */
  font-size: 0.85rem;                   /* tweak size if needed */
  padding: 0.35em 0.6em;                /* adjust box padding */
  border-radius: 4px;                   /* make corners less sharp */
}

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "tabs",
  "typograms",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular",
  "tabler-icons/tabler-icons.scss",
  "tabler-icons/tabler-icons-filled.scss",
  "tabler-icons/tabler-icons-outline.scss"
;
